@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
  
    
}


html, body{
    min-width: 100px;
    background-color: #313D42;
    max-height: 120px;
}

header{
    
    color: white;
    background-color:#3F6675;
    text-align: center;
    
}

header > h1{
    font-variant: small-caps;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 3em;

}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-indent: 20px;
    line-height: 2em;
    text-align: justify;
}

section > p{
    padding-bottom: 2em;
   
}
section.normal{
    background-color: #0f638598;
    color: rgb(255, 255, 255);
}
section.imagem{
  color: rgb(0, 0, 0);
  background-size: cover;
  background-attachment: fixed;

}
section#img01{
  background-image: url(../fotos/imagem2.jpg);
  background-position: right center;
  padding: auto;
}

footer{
    padding: 10px;
    background-color: azure;
    text-align: center;
}